<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container">
    <% if (referee) { %>
    <h3 class="center z-depth-2">Referee's Details</h3>

    <div class="card">
        <div class="row">
            <div style="height: auto" class="col s12 l7">
                <ul class="collection">
                    <li class="collection-item capitalized">
                        <b>Name: </b> <%= referee.name %>
                    </li>
                    <li class="collection-item capitalized"><b>Last Name: </b><%= referee.last_name %></li>
                    <li class="collection-item capitalized"><b>Phone: </b><%= referee.phone %></li>
                    <li class="collection-item caoitalized"><b>Email: </b><a class="blue-text" href="mailto:<%= referee.email %>"><%= referee.email %></a></li>
                 
                </ul>
                <br>
                <div class="center">
                    <a class="btn black" href="/referee/edit/<%= referee._id %>">Edit Referee</a>
                </div>
            </div>
            <div class="col s12 l5">
                    <div class="row">
                            <div style="width: 100%; height: auto;" class="col s12 m7 left-align">
                              <div class="card">
                                <div class="card-image">

                                  <img class="responsive-img" src="/images/rebecca.png">
                                  <span class="card-title capitalized"><%= referee.name %> <%= referee.last_name %></span>
                                </div>
                                <div class="card-content">
                                  <p>I am a very simple card. I am good at containing small bits of information.
                                  I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                  <a href="/referral/referee/<%= referee._id %>" class="btn black">View Referrals</a>
                                </div>
                              </div>
                            </div>
                          </div>
            </div>
        </div>
    </div>
    <% } else { %>
    <h3 class="center z-depth-2">
        No Data
    </h3>
    <% } %>
</div>


<%- include('../partials/footer.ejs') %>